main{
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) ;
}

.faqBox{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0;
    width: 1000px;
    height: 625px;
    margin-top: 0;
    box-shadow: 0px 13px 47px -3px rgba(0,0,0,0.46);
}

.faqBox-ilustration picture:first-child{
    position: absolute;
    left: calc(50% - 250px);
    top: 83px;
    width: 449px;
    height: 453px;
    overflow: hidden;
    z-index: 2;
}

.faqBox-ilustration picture:first-child img{
    position: absolute;
   width: 545px;
   height: 453px;
   left: calc(50% - 320px);
}

.faqBox-ilustration .ilustration-box
{
    display: initial;
    position: absolute;
    left: calc(50% - 353px);
    top: 262px;
    width: 220px;
    z-index: 3;
}

.faqBox-ilustration picture:nth-child(3){
    position: absolute  ;
    width: 460px;
    height: 625px;
    left: calc(50% - 250px);
    top: 0px;  
    overflow: hidden;             
    z-index: 1;
}

.faqBox-ilustration picture:nth-child(3) img{
    position: absolute;
    width: 1041px;
    height: 1215px;
    top: -385px;
    right: calc(50% - 215px);
}

.faqBox-content{
    align-items: flex-start;
    height: 470px;
    width: 430px;
    margin-left: 40px;
    margin-top: 77px;
}

.faqBox-content .faqBox-content--title{
    margin-top: 0;
    font-size: 2.5rem;
}

.faqBox-content .faqBox-content--questions{
    justify-content: space-evenly;
    width: 365px;
    height: 665px;
}

.question-content summary{
    font-size: 1.6rem;
}

.question-content summary:hover{
    color: var(--soft-red);
}

.question-content[open] .answer-question{
    width: auto;
    font-size: 1.35rem;
    line-height: 20px;
}