:root{
    /* colores */

    /* Primary*/
    /* Text  */
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
    /* text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) ;
    
}

.faqBox{
   display: grid;
   grid-template-rows: 1fr 3fr;
   margin-top: 75px;
   width: 320px;
   height: 500px;
   border-radius: 25px;
   background: white;
}

.faqBox-ilustration{
    position: relative;
    height: auto;
    width: auto;
}

.faqBox-ilustration picture:first-child{
    position: absolute;
    left: calc(50% - 111px);
    top: -100px;
    width: 200px;
    height: 180px;
    z-index: 1;
}

.faqBox-ilustration picture:first-child img{
    width: 220px;
}

.faqBox-ilustration .prueba
{
    display: none;
}

.faqBox-ilustration picture:nth-child(3){
    position: relative  ;
    left: calc(50% - 109px);
    top: 2px;               
    width: 200px;
    height: 90px;
    z-index: 0;
}

.faqBox-ilustration picture:nth-child(3) img{
    width: 218px;
    height: 94px;
}

.faqBox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqBox-content .faqBox-content--title{
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: -10px;
}

.faqBox-content .faqBox-content--questions{
   display: flex;
   height: 300px;
   width: 275px;
   flex-direction: column;
   justify-content: space-around;
}

.faqBox-content--questions hr{
    border-color: var(--Light-grayish-blue);
}

.question-content{
    position: relative;
}

.question-content summary {
    list-style: none;
    font-size: 1.2rem;
    color: var(--Very-dark-grayish-blue);
}

.question-content summary::before {
    position: absolute;
    content: url("./../images/icon-arrow-down.svg");    
    top: -1px;
    right: 3px;  
  }

/* animación del icono */

.question-content[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
    animation: rotate-emoji 0.6s ease-in-out both;
  }

  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

.question-content[open] summary{
    font-weight: 700;
    color: var(--very-dark-blue);
}

.question-content[open] .answer-question{
    width: 216px;
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 15px;
    color: var(--Dark-grayish-blue);
}

/* .question-content{
    display: grid;
    width: auto;
    grid-template-areas: "head icon";          
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 30px;

}

.question-content details summary{
    grid-area: head;
    list-style: none;
    font-size: 1.2rem;
    color: var(--Very-dark-grayish-blue);
}

.question-content details summary span{
    display: inline-block;
    grid-area: icon;
    height: 10px;
    width: 10px;
    background-image: url("./../images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.question-content .answer-question{
    grid-area: body;
}
*/
