:root{
    /* colores */

    /* Primary*/
    /* Text  */
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
    /* text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) ;
    
}

.faqBox{
   display: grid;
   grid-template-rows: 1fr 3fr;
   margin-top: 75px;
   width: 320px;
   height: 500px;
   border-radius: 25px;
   background: white;
}

.faqBox-ilustration{
    position: relative;
    height: auto;
    width: auto;
}

.faqBox-ilustration img:first-child{
    position: absolute;
    left: calc(50% - 98px);
    top: -103px;
    width: 200px;
    height: 180px;
    z-index: 1;
}

.faqBox-ilustration img:last-child{
    position: absolute  ;
    left: calc(50% - 98px);                ;
    width: 200px;
    height: 90px;
    z-index: 0;
}

.faqBox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqBox-content .faqBox-content--title{
    font-size: 2rem;
}

.faqBox-content .faqBox-content--questions{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    row-gap: 15px;
    margin: 20px;
    font-size: 1.2rem;
}
